TURSO_DATABASE_URL=file:./dev.db
TURSO_AUTH_TOKEN=
PORT_FATE=3001
PORT_API=3002
BETTER_AUTH_SECRET=openssl rand -base64 32
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:5173
VITE_APP_BASE_URL=http://localhost:5173
