node_modules
dist
.DS_Store
.env
.env.*
!.env.example
*.local
bun.lock
.turbo
.cache
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
coverage
*.log
*.db
*.db-journal
*.sqlite
*.sqlite-journal
